h1 { color: #8B0000; }
h2 { color: #1E90FF; }
h3 { color: #228B22; }

a.internal-link {
  color: #B22222;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #1E90FF;
  color: white;
}

td {
  border: 1px solid #ccc;
  padding: 5px;
}
